/* General */
* {
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}


.btn-primary:hover {
  background-color: #C28008;
  border-color: #C28008;
  color: #000000;
}

.msg {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.msg-danger {
  background-color: #ffc107;
  color: #155724;
  border: 1px solid #ffc107;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

#info-container .already-joined-msg {
  margin: 15px 0;
  color: #004085;
  background-color: #CCE5FF;
  border: 1px solid #B8DAFF;
  padding: 10px;
  width: 275px;
}

/* navbar */
#navbar img {
  width: 8rem;
}

#navbar {
  justify-content: space-between;
  background-color: #FFF;
  padding: 5px 0;
}

#navbar a {
  font-size: 14px;
  color: #757575;
}

#navbar a:hover {
  color: #F2A340;
}

/* Event create page */
#event-create-container {
  padding: 30px
}

#event-create-container label {
  font-weight: bold;
} */

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 12px;
}

/* Dashboard */
.dashboard-title-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.dashboard-events-container th {
  width: 25%;
}

.dashboard-events-container form {
  display: inline-block;
}

/* Edit page */

.img-preview {
  width: 80px;
  margin-top: 20px;
}

/* footer */
footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

.table-first {
  width: 10vw !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.table-first-id{
  width: 20px !important;
}
.table-date{
  width: 120px !important;
}

.table-quant{
  width: 150px !important;
}

.table-image{
  width: 100px !important;
}

.table-alter{
  width: 120px !important;
}


th{
  border: 0px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font-family: Verdana, Arial, Helvetica;
  font-size: 14px;
  text-align: center;
  background-color: #007cc2;
 }
 td {
 border: 3px solid #ffffff;
 color: #5d5d5d;
 font-size: 14px;
 font-weight: normal;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 background-color: #efeeee;
 text-align: center;
 table-layout: fixed;
 
 transition: height 0.4s;
 /*propriedade desejada*/
   max-width: 100px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   transition: all ease 0.7s;
 }

 td.celula-client{
  height: 60px;
 }
 td.celula-product{
  max-height: 60px;
 }

 td.celula-client:hover {
     height: 150px;
     max-width: 100px;
     overflow: auto;
     text-overflow: ellipsis;
     white-space: initial;
 }

 td.celula-product:hover {
  height: 150px;
  max-width: 100px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: initial;
}

td.celula-order:hover {
  height: 100px;
  max-width: 100px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: initial;
}

 /* estilização do input de quantidade de produtos */

 .card:hover{
	-xpedu-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}